﻿
<!--  <ion-navbar color ="Primary">
  
    <ion-title>
      Trails
    </ion-title>
  </ion-navbar > -->﻿


﻿<ion-header color ="Primary">
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>

<ion-content class="allAreas">
  
    

  

  
    <ion-list *ngFor="let trail of trailList" class="trailcards" >
      <div class="trailbox">
        <div class="picture">
          <img src="{{ trail.image }}" alt="TrailImage" />
        </div>
        <div class="container" style="height: 100%; width: 100%;">
        <h3 id="info" class="trailbox">{{trail.title}} | {{trail.length}} | <button ion-button small>{{trail.difficulty}}</button>{{trail.location}}</h3>
       </div>
      </div>
    </ion-list>


  
</ion-content>
