﻿page-about {

  .picture {
  
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden

  }

  .picture img {
    
      flex-shrink: 0;
      min-width: 100%;
      min-height: 80%;
    
  }

  .trailbox {
    border: none;
    border-color: black;
    width: 100%;
    height: 80%;
    color: white;
    font-family: 'Bookman Old Style';
    font-size: 115%;
  }

  .container {
 margin-left: 12px;
  
  
  
   
 

  }

  #info{
  
  }
  






  .allAreas {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/lowpoly.png?alt=media&token=b2543e98-7cbe-4281-814e-1b89e5812f52');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-wrap: normal;
    width: 100%;
    height: 100%;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .areaImage {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/gulch1.png?alt=media&token=13782aff-06b1-4eea-b338-a36c6d85b1ab');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .areaImage1 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/pinecrest1.png?alt=media&token=8239d0bd-8a93-4cf9-9c00-3f3006b2236d');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .areaImage2 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/redhills1.png?alt=media&token=7d1e944d-b6e3-452b-aaba-55f562ad40fe');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .areaImage3 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/tabletop1.png?alt=media&token=aa3b2a16-6cdd-4d41-92df-46a35908291d');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .areaImage4 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/lyonsdam1.png?alt=media&token=047ad311-2c04-41d0-9c19-34ac81fced60');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .allAreas p {
    color: #FFFFFF
  }

  .allAreas h2 {
    color: #FFFFFF
  }

  .allAreas button {
    color: #FFFFFF
  }

  .list {
    border-bottom: 1px solid #999999;
    margin: 2px auto;
  }

  ion-page.about > ion-content {
    background-color: transparent;
  }
}
