﻿<ion-header>
  <ion-navbar color="primary" >
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- okay im using forms and form validation for this, heres a link https://javebratt.com/validate-forms-ionic-firebase/
We are adding validation for the email form to be an actual email.

We are validating that the password has more than 6 characters since that’s the default in Firebase.

We have a login button that runs this form.

A Reset your password button that sends the user to a page so they can reset their password if they forgot.

A link to send the user to the SignupPage.
    -->


<ion-content padding class="a"[attr.noScroll]="shouldScroll">
  
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address"
                 [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Your password"
                 [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>

    <button ion-button block type="submit">
      Login
    </button>

  </form>

  <button ion-button block (click)="goToResetPassword()">
    I forgot my password
  </button>
  <div type="spacer"></div>
  <button ion-button block  (click)="createAccount()">
    Create a new account
  </button>

</ion-content>
