﻿
<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Trails" tabIcon="bonfire"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Home" tabIcon="home"></ion-tab>
  
  <ion-tab [root]="tab3Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
