﻿<!--
  Generated template for the RedHillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>red-hills</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div class="item item-body">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"><img src="resources/icon.png"></i>
      </div>
      <div class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Length:</strong> 1 Mile.</p>

        <p style="color:#000000;">
          <strong>Difficulty:</strong> Easy</p>

        <p style="color:#000000;">
          <strong>Other Thing:</strong> Whatever</p>

        <p style="color:#000000;">
          <strong>Other Thing:</strong> Blah</p>
          <a href="geo:?q=38.1924,119.9946" target="_system" button ion-button class="button button-positive  button-block">Map it</a>
      </div>
      
    </div>
</ion-content>
