﻿<!--
  Generated template for the SplashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>splash</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

</ion-content>
