﻿// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/lowpoly.png?alt=media&token=b2543e98-7cbe-4281-814e-1b89e5812f52');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  }
