﻿<!--
  Generated template for the Resetpassword page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>resetpassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- im gonna set this up soon, it will just call the resetpassword method firebase provides -->
</ion-content>
