﻿page-signup { 
 
    .a {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/hiikr-83c50.appspot.com/o/lowpoly.png?alt=media&token=b2543e98-7cbe-4281-814e-1b89e5812f52');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        }

    .button {
      display: inline;
      background-color: rgba(51, 51, 51, 0.5);
      font-size: 1em;
      border: 0;
      border-radius: 0 0 10%;
      }
  


    .formData {padding-top: 170px;}




    









}
